/node_modules
_node_modules
__node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.staging
.env.development
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

packages/frontend-next-test
packages/frontend-vue-test
docker-compose.staging.yml
doc.txt
readme.txt
anotations.txt

.env.docker
.env.staging
.env.development

.env.backup.development
.env.backup.production
.env.backup.docker
.env.backup.docker.production
.env.backup.docker.development

.env.docker.development
.env.docker.staging
.env.docker.production

.docker/logs/
!.docker/logs/.gitkeep

.docker/data/
.docer/data/.gitkeep